/*

=====================================================================

*   Custom Code By Peia Ciprian-Tiberiu

=====================================================================

*/
/* ---- Default Styles ---- */
html,
body {
  position: relative;
  color: #000;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
}

.container {
  width: 100%;
  max-width: 1170px;
}

img {
  max-width: 100%;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.g-0 {
  padding: 0;
}

li {
  list-style: none;
}

/* ---- Fonts ---- */
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?27965259");
  src: url("../fonts/fontello.eot?27965259#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?27965259") format("woff"), url("../fonts/fontello.ttf?27965259") format("truetype"), url("../fonts/fontello.svg?27965259#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.font-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---- Colors ---- */
/* ---- Spacing ---- */
.mb-100 {
  margin-bottom: 100px;
}

@media (max-width: 991.98px) {
  .mb-75 {
    margin-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .mb-50 {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .mb-25 {
    margin-bottom: 25px;
  }
}
/* ---- Forms ---- */
form {
  margin-bottom: 24px;
}

fieldset {
  margin-bottom: 24px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  display: block;
  padding: 18px 15px;
  margin: 0 0 24px 0;
  outline: none;
  vertical-align: middle;
  min-width: 265px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0;
}
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: #fff;
  opacity: 1;
}
input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  color: #fff;
  background-color: transparent;
  border-color: white;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar {
  padding: 35px 1rem;
}
header .navbar .navbar-brand {
  color: #000;
  font-size: 46px;
  font-weight: 500;
}
header .navbar .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237, 28, 36, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header .navbar .custom-toggler.navbar-toggler {
  border-color: #ed1c24;
}
header .navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .navbar .navbar-collapse a {
  color: #000;
}
header .navbar .navbar-collapse a:hover {
  color: #ff0000;
}
header .navbar .navbar-collapse .navbar-nav .active {
  color: #ff0000;
}
header .navbar .navbar-collapse .navbar-nav .rotate {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
header .navbar .navbar-collapse .navbar-nav .rotate.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
header .navbar .navbar-collapse .navbar-nav .dropdown-toggle:hover {
  text-decoration: none;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-toggle::after {
  display: none;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-menu {
  margin-top: 20px;
  padding: 5px 30px 20px;
  background-color: #f6f6f6;
  border-radius: 0;
  border: transparent;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item {
  padding: 15px 0;
  color: #000;
  border-bottom: 1px solid #bdbdbd;
  background: transparent;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:last-of-type {
  padding: 15px 0 0;
  border-bottom: none;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #ff0000;
  text-decoration: none;
}

/* ---- Carousel Section ---- */
.carousel-section .owl-carousel .owl-item {
  position: relative;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper h3 {
  font-size: 36px;
  padding: 12px 26px 10px;
  margin-bottom: 13px;
  background-color: #000000b3;
  font-weight: 500;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper p {
  font-size: 18px;
  padding: 12px 20px 10px;
  margin-bottom: 20px;
  background-color: #000000b3;
  font-weight: 500;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 18px 69px 14px;
  background-color: #ed1c24;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper a:hover {
  background-color: #000;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 17px 10px 0 0;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials li {
  margin-left: 10px;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  font-size: 1.1em;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials li a i {
  font-size: 17px;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials li a .icon-facebook {
  margin: 1px 0 0 -1px;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials li a .icon-twitter {
  font-size: 19px;
}
.carousel-section .owl-carousel .owl-item .slide-wrapper .socials li a:hover {
  background-color: #ed1c24;
}
.carousel-section .owl-carousel .owl-item .bg-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.carousel-section .owl-carousel .owl-nav {
  position: relative;
  width: 100%;
  max-width: 1170px;
  height: 0;
  margin: 0 auto;
}
.carousel-section .owl-carousel .owl-nav button {
  background-color: transparent;
}
.carousel-section .owl-carousel .owl-nav button .owl-prev, .carousel-section .owl-carousel .owl-nav button .owl-next {
  position: absolute;
  bottom: 35px;
  background: transparent;
  color: white;
  font-size: 48px;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.carousel-section .owl-carousel .owl-nav button .owl-prev:hover, .carousel-section .owl-carousel .owl-nav button .owl-next:hover {
  opacity: 1;
}
.carousel-section .owl-carousel .owl-nav button .owl-prev {
  right: 70px;
}
.carousel-section .owl-carousel .owl-nav button .owl-next {
  right: 0px;
}

/* ---- Vacation Section ---- */
.vacation-section {
  position: relative;
  background: url("../img/white-mountains.png") no-repeat center center;
  color: #fff;
  background-color: #ed1c24;
  background-size: cover;
}
.vacation-section .vacation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 15px;
}
.vacation-section .icon-globe {
  font-size: 40px;
  margin: 50px 0 40px;
  cursor: default;
}
.vacation-section .title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.vacation-section .title span {
  font-weight: 700;
}
.vacation-section .text {
  font-size: 18px;
  text-align: center;
}
.vacation-section button {
  position: relative;
  font-size: 18px;
  background-color: black;
  color: white;
  margin-top: 130px;
  border: none;
  padding: 19px 78px 14px;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.vacation-section button a {
  color: #fff;
  text-decoration: none;
}
.vacation-section button:hover {
  background-color: #ed1c24;
}
.vacation-section button span {
  font-weight: 700;
}

/* ---- Offers Section ---- */
.offers-section {
  position: relative;
  color: #000;
  background-color: #fff;
}
.offers-section .offers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 15px;
}
.offers-section .icon-sun {
  font-size: 40px;
  margin: 50px 0 40px;
  cursor: default;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.offers-section .rotating {
  -webkit-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}
.offers-section .title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.offers-section .title span {
  font-weight: 700;
}
.offers-section .text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

/* ---- Video Section ----*/
.video-section {
  background: url("../img/bg-parallax.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.video-section .parallax-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  width: 100%;
  min-height: 480px;
  color: #fff;
}
.video-section .parallax-item .title {
  margin-top: 30px;
}
.video-section .parallax-item .title, .video-section .parallax-item .see-clip {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.video-section .parallax-item .title span, .video-section .parallax-item .see-clip span {
  font-weight: 700;
}
.video-section .parallax-item .text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}
.video-section .parallax-item .popup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.video-section .parallax-item .popup-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.video-section .parallax-item .popup-btn .icon-play-circled2 {
  font-size: 130;
  color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  margin: 0;
}
.video-section .parallax-item .popup-btn .icon-play-circled2:hover {
  color: #ed1c24;
}
.video-section .parallax-item .see-clip {
  color: #fff;
  margin-top: 20px;
}
.video-section .parallax-item .modal.fade.show {
  background: #000000b3;
}
.video-section .parallax-item .modal.fade.show .modal-dialog {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-section .parallax-item .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 100px;
  background: #fff;
  width: 28px;
  height: 28px;
  opacity: 1 !important;
  border: 2px solid #000000;
  z-index: 9;
}
.video-section .parallax-item .close-btn .icon-cancel {
  font-size: 16px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.video-section .parallax-item .close-btn .icon-cancel:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* ---- Blog Section ---- */
.blog-section {
  position: relative;
  color: #000;
}
.blog-section .blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 15px;
}
.blog-section .icon-paper-plane {
  font-size: 40px;
  margin: 50px 0 40px;
  cursor: default;
}
.blog-section .title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.blog-section .title span {
  font-weight: 700;
}
.blog-section .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-section .article .left {
  min-width: 174px;
}
.blog-section .article .right .article-title {
  font-size: 24px;
  font-weight: 500;
}
.blog-section .article .right .text {
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0 15px 20px;
}
.blog-section .article .right a {
  font-size: 14px;
  color: #ff0000;
  margin-left: 20px;
}
.blog-section .article .right a i {
  font-size: 9px;
  width: 6px;
  margin: 0;
}
.blog-section .article .right a:hover {
  text-decoration: none;
  border-bottom: 1.5px solid red;
}
.blog-section .divider {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 50px 0;
  background-color: #ededed;
}
.blog-section button {
  position: relative;
  font-size: 18px;
  background-color: black;
  color: white;
  margin: 70px auto 80px;
  border: none;
  padding: 19px 78px 14px;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.blog-section button a {
  color: #fff;
  text-decoration: none;
}
.blog-section button:hover {
  background-color: #ed1c24;
}
.blog-section button span {
  font-weight: 700;
}

/* ---- Newsletter Section ---- */
.newsletter-section {
  position: relative;
  background: url("../img/bg-newsletter.png") no-repeat center center;
  color: #fff;
  background-size: cover;
}
.newsletter-section .newsletter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 15px;
}
.newsletter-section .icon-mail {
  font-size: 40px;
  margin: 50px 0 40px;
  cursor: default;
}
.newsletter-section .title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.newsletter-section .title span {
  font-weight: 700;
}
.newsletter-section .text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
.newsletter-section .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 30px 0;
}
.newsletter-section .btn-wrapper .btn {
  padding: 18px 69px 14px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #ed1c24;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.newsletter-section .btn-wrapper .btn:hover {
  background-color: #000;
}
.newsletter-section .btn-wrapper .btn span {
  font-weight: 700;
}

/* ---- Footer ---- */
.footer-content .footer-top {
  background-color: #fff;
}
.footer-content .footer-top .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.footer-content .footer-top .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 16px 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
}
.footer-content .footer-top .links ul li {
  margin: 0 15px;
}
.footer-content .footer-top .links ul li:first-of-type {
  margin: 0 15px 0 0;
}
.footer-content .footer-top .links ul li:last-of-type {
  margin: 0 0 0 15px;
}
.footer-content .footer-top .links ul li a {
  color: #000;
}
.footer-content .footer-top .links ul li a:hover {
  color: #ff0000;
}
.footer-content .footer-bottom {
  color: #fff;
  background-color: #000;
}
.footer-content .footer-bottom .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 14px 0;
}
.footer-content .footer-bottom .copyright img {
  margin: 0 12px;
}
.footer-content .footer-bottom .copyright .company {
  text-transform: uppercase;
}

/* ---- Media Query ---- */
@media (max-width: 1200px) {
  .footer-content .footer-bottom .copyright {
    padding: 15px;
  }
}
@media (max-width: 991.98px) {
  header .navbar .navbar-collapse {
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
    margin-top: 15px;
  }

  .carousel-section .owl-carousel .owl-item {
    height: 330px;
  }
}
@media (max-width: 768px) {
  .carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper h3 {
    font-size: 24px;
  }
  .carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper p {
    font-size: 16px;
  }
  .carousel-section .owl-carousel .owl-item .slide-wrapper .elements-wrapper a {
    font-size: 16px;
    padding: 18px 50px 14px;
  }
  .carousel-section .owl-carousel .owl-nav button .owl-prev, .carousel-section .owl-carousel .owl-nav button .owl-next {
    bottom: 65px;
  }

  .vacation-section .title {
    font-size: 28px;
  }
  .vacation-section .text {
    font-size: 16px;
  }

  .blog-section .title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .blog-section .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-section .article .right {
    margin-bottom: 20px;
  }
  .blog-section .article .right .article-title {
    margin: 15px;
  }
  .blog-section button {
    margin: 40px auto;
  }

  .newsletter-section .btn-wrapper {
    margin: 0 0 15px;
  }

  .footer-content .footer-top .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
  .footer-content .footer-top .links ul li {
    margin: 0 0 15px;
  }
  .footer-content .footer-top .links ul li:first-of-type {
    margin: 0 0 15px;
  }
  .footer-content .footer-top .links ul li:last-of-type {
    margin: 0 0 0;
  }
  .footer-content .footer-bottom .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) {
  .carousel-section .owl-carousel .owl-item {
    height: 440px;
  }
}
